*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

.top-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo{
  width:250px;
  height:160px;
  margin-bottom:20px;
}

.input-container{
  width:340px;
  border:1px solid gray;
  margin-bottom:10px;
}

.input-container input{
  width:300px;
  padding:10px;
  border-radius:10px;
  outline:0;
  border:0;
  font-size: 20px;
}

.input-container i{
   font-size:20px;
}

.result-container{
  margin:2%;
  padding:6px;
  width:500px;
}

.title{
  font-size:20px;
  text-decoration: none;
}

.link{
  font-size:16px;
  text-decoration: none;
  color:green;
}